<!DOCTYPE html>
<html ng-app="pom">
  <head ng-controller="TitleCtrl">
    <title ng-bind="getTitle()">Tigers Anonymous</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body ng-controller="ChatCtrl">
    <div id="fb-root"></div>
    <div class="nav">
      <div class="nav-container">
        <span class="brand" href="/">Tigers Anonymous</span>
        <a class="volume" ng-click="playSound = !playSound" ng-cloak>
          <i class="fa fa-volume-up" ng-show="playSound"></i>
          <i class="fa fa-volume-off" ng-show="!playSound"></i>
        </a>
        <a class="circle-down" ng-show="dropdown.shouldShowMinimized() && state == 'chatting'" ng-click="dropdown.show()" ng-cloak>
          <i class="fa fa-chevron-circle-down"></i>
        </a>
      </div>
    </div>
    <div class="chat-container">
      <div class="dropdown" ng-show="dropdown.shouldShowFull() && state == 'chatting'" ng-cloak>
        <div class="question">
          Do you want to find out who you've been chatting with?<br>
          <span class="promise">We'll never post to Facebook without your permission. Promise.</span>
        </div>
        <div class="options">
          <button type="button" class="yes-btn" ng-click="dropdown.accept()">Yes</button>
          <button type="button" class="hide-btn" ng-click="dropdown.hide()">Hide</button>
        </div>
      </div>
      <div class="chatroom" pom-scroll-glue>
        <ul ng-cloak>
          <li ng-repeat="message in messages" ng-class="message.type" ng-switch="message.type">
            <div ng-switch-when="chat">
              <span ng-class="{userName: !message.isPartner, partnerName: message.isPartner}">{{message.name}}:</span>
              <span ng-bind-html="message.text | linky | linkyNewlines"></span>
            </div>
            <div ng-switch-when="system">
              <div ng-switch="message.template" ng-class="{important: message.important}">
                <div ng-switch-when="entrance">
                  Welcome to Tigers Anonymous!
                </div>
                <div ng-switch-when="waiting">
                  Waiting for another Princeton student to join...
                </div>
                <div ng-switch-when="matched">
                  You're now chatting with another Princeton student!<br>
                  <div class="question-box">
                    {{message.question}}
                  </div>
                </div>
                <div ng-switch-when="selfRevealed">
                  Your partner's identity will be revealed if they also want to discover yours.
                </div>
                <div ng-switch-when="partnerRevealed">
                  Congratulations! You get to find out your partner's identity!<br>
                  You've been chatting with: <a href="{{message.partnerLink}}" target="_blank">{{message.partnerName}}</a>
                </div>
                <div ng-switch-when="fbError">
                  Sorry, there was an error connecting to Facebook. Please try again.
                </div>
                <div ng-switch-when="fbFake">
                  Sorry, it looks like you're using a fake Facebook account.
                </div>
                <div ng-switch-when="finished">
                  {{partnerName}} has disconnected. Refresh the page to start another chat!<br>
                  What do you think about Tigers Anonymous? <a href="https://docs.google.com/forms/d/1NI2nuAoYRZzYcawLrbWPKHsc43EdvbS5mU5d0A4cM2U/viewform" target="_blank">Let us know!</a>
                </div>
                <div ng-switch-when="disconnected">
                  You have been disconnected.
                </div>
                <div ng-switch-when="error">
                  Sorry, we're unable to connect you. Please check the following:
                  <ol>
                    <li>
                    You need to be using a computer connected to Princeton's network.<br>
                    If you're off-campus, <a href="about#offcampus">follow these instructions.</a>
                    </li>
                    <li>You can't already be chatting with a user.</li>
                    <li>You need to be using a modern web browser that supports WebSockets.</li>
                  </ol>
                </div>
                <div ng-switch-default>
                  {{message.text}}
                </div>
              </div>
            </div>
          </li>
          <li class="typing" ng-show="partnerTyping && state == 'chatting'">
            {{partnerName}} is typing...
        </ul>
      </div>
      <div class="input-wrapper">
        <textarea
          tabindex="1"
          pom-focus-on-chat
          ng-disabled="state != 'chatting'"
          ng-model="message"
          ng-keydown="sendMessage($event)"
          ng-change="updateTyping()"></textarea>
      </div>
    </div>
    <audio pom-play-on-message src="audio/notification.wav"></audio>
    <script src="/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <!-- build:js js/app.js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <!-- endbuild -->
  </body>
</html>
