/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
 * Chatroom
 */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin: 0;
  background-color: #333;
}

.chat-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.nav {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #F58025;
  border-bottom: 1px solid #DC670C;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.nav .brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.circle-down {
  position: absolute;
  right: 10px;;
  display: inline-block;
  font-size: 1.6em;
  cursor: pointer;
}

.volume {
  position: absolute;
  left: 10px;
  display: inline-block;
  font-size: 1.6em;
  width: 30px;
  text-align: left;
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #EEE;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  box-shadow: 0 8px 16px -6px #000;
}

.dropdown {
  transition: all 0.5s ease;
}

.dropdown.ng-hide {
  top: -250px;
}

.dropdown.ng-hide-add,
.dropdown.ng-hide-remove {
  display: block !important;
}

.question, .options {
  display: inline-block;
  margin: 5px 10px;
  vertical-align: middle;
}

.question {
  line-height: 1.2;
}

.question .promise {
  font-size: 15px;
  color: #777;
}

.yes-btn, .hide-btn {
  width: 130px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.yes-btn {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.yes-btn:hover {
  color: #FFF;
  background-color: #47A447;
  border-color: #398439;
}

.hide-btn {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.hide-btn:hover {
  color: #FFF;
  background-color: #D2322D;
  border-color: #AC2925;
}

/* Messages */
.chatroom {
  position: absolute;
  top: 0;
  bottom: 140px;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 20px;
  line-height: 1.8;
  word-wrap: break-word;
}

.chatroom ul {
  margin: 0;
  padding: 0;
}

.chatroom ul > li {
  list-style: none;
}

.userName {
  font-weight: bold;
}

.partnerName {
  font-weight: bold;
  color: #F58025;
}

.system {
  font-weight: bold;
}

.system .important {
  color: #F00;
}

.system a {
  color: #333;
}

.typing {
  font-weight: bold;
}

.question-box {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
}

/* Input */
.input-wrapper {
  z-index: 3; /* for mobile */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 140px;
  padding: 20px;
}

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* Mobile */

@media (max-width: 768px) {
  .chatroom {
    bottom: 77px;
    /* should be 54px, but 77px avoids typing delay bug in ios safari */
  }

  .input-wrapper {
    height: 77px;
    padding: 0;
  }

  textarea {
    border: none;
    border-top: 1px solid #000;
    border-radius: 0;
  }
}
