body {
  font-family: Helvetica, Arial, sans-serif;
}

.cover {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .container {
    border-radius: 15px;
  }

  .container.about {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .container.home {
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px;
  padding-bottom: 15px;
}

.header {
  margin-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.large-icon {
  font-size: 10em;
}

.padded-text {
  margin: 0 2px;
}

.padded-icon {
  padding-top: 20px;
  margin-bottom: 0px;
}

.hook {
  font-size: 42px;
  text-shadow: 1px 1px 1px #000;
}

.go-btn {
  margin-top: 20px;
}

.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.how-it-works {
  margin-top: 10px;
  margin-bottom: 10px;
}

.how-it-works h2 {
  text-align: center;
}

.footer-text {
  margin-top: 15px;
}

.about-link {
  color: white;
  margin-top: 10px;
}

a.about-link:hover {
  color: white;
  text-decoration: none;
}
