/* Landing page */
.cover {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .container {
    border-radius: 15px;
  }

  .container.home {
    margin-top: 200px;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  color: #FFF;
}

.large-icon {
  font-size: 15em;
}

.hook {
  font-size: 43px;
  text-shadow: 1px 1px 1px #000;
}

.go-btn {
  margin: 20px 0;
}

.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.how-it-works {
  margin-top: 25px;
}

.how-it-works h2 {
  text-align: center;
}
