/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Landing page */
.cover {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .centered {
    margin-top: 30%;
  }
}

.centered {
  text-align: center;
}

.centered h1 {
  font-size: 43px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

.centered button {
  margin-top: 20px;
}

.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div#chatroom {
  display: block;
  height: 300px;
  border: 1px solid #999;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
}

li.system {
  font-weight: bold;
}

li.leave {
  font-weight: bold;
  color: #F00;
}
