<!DOCTYPE html>
<html ng-app="chatterbox">
  <head>
    <title>Princeton Omegle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class="nav">
      <a class="brand" href="/">chatterbox</a>
    </div>
    <div ng-controller="ChatCtrl" class="chat-container">
      <div class="chatroom" scroll-glue="true">
        <ul ng-cloak>
          <li ng-repeat="message in messages" ng-class="message.type">
            <div ng-bind-html="message.text | linky | linkyNewlines"></div>
          </li>
        </ul>
      </div>
      <div class="input">
        <textarea
          rows="3"
          autofocus
          tabindex="1"
          ng-disabled="state != 'chatting'"
          ng-model="message"
          ng-keydown="sendMessage($event)"></textarea>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
  </body>
</html>
