<!DOCTYPE html>
<html ng-app="pom">
  <head ng-controller="TitleCtrl">
    <title ng-bind="getTitle()">Tigers Anonymous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body ng-controller="ChatCtrl">
    <div id="fb-root"></div>
    <div class="nav">
      <div class="nav-container">
        <span class="brand" href="/">Tigers Anonymous</span>
        <a class="circle" ng-show="dropdown.shouldShowMinimized() && state == 'chatting'" ng-click="dropdown.show()" ng-cloak></a>
      </div>
    </div>
    <div class="chat-container">
      <div class="dropdown" ng-show="dropdown.shouldShowFull() && state == 'chatting'" ng-cloak>
        <div class="question">
          Do you want to find out who you've been chatting with?
        </div>
        <div class="options">
          <button type="button" class="yes-btn" ng-click="dropdown.accept()">Yes</button>
          <button type="button" class="no-btn" ng-click="dropdown.hide()">Not now</button>
        </div>
      </div>
      <div class="chatroom" pom-scroll-glue>
        <ul ng-cloak>
          <li ng-repeat="message in messages" ng-class="message.type" ng-switch="message.type">
            <div ng-switch-when="chat">
              <span ng-class="{userName: !message.isPartner, partnerName: message.isPartner}">{{message.name}}:</span>
              <span ng-bind-html="message.text | linky | linkyNewlines"></span>
            </div>
            <div ng-switch-when="system">
              <div ng-switch="message.template" ng-class="{important: message.important}">
                <div ng-switch-when="entrance">
                  Welcome to Tigers Anonymous!
                </div>
                <div ng-switch-when="waiting">
                  Waiting for another Princeton student to join...
                </div>
                <div ng-switch-when="matched">
                  You're now chatting with another Princeton student!<br>
                  <div class="question-box">
                    {{message.question}}
                  </div>
                </div>
                <div ng-switch-when="selfRevealed">
                  Thanks! You'll find out who your partner is if your partner also chooses to find out who you are.
                </div>
                <div ng-switch-when="partnerRevealed">
                  Congratulations! Both parties want to find out who they've been chatting with.<br>
                  You've been chatting with: <a href="{{message.partnerLink}}" target="_blank">{{message.partnerName}}</a>
                </div>
                <div ng-switch-when="fakeFacebook">
                  Unable to remove anonymization: Your Facebook account does not appear to be legitimate.
                </div>
                <div ng-switch-when="finished">
                  {{partnerName}} has disconnected. Refresh the page to start another chat!
                </div>
                <div ng-switch-when="disconnected">
                  You have been disconnected.
                </div>
                <div ng-switch-when="error">
                  Unable to connect. Please ensure the following:
                  <ol>
                    <li>You are using a computer connected to Princeton's network.</li>
                    <li>You are not already chatting with a user.</li>
                    <li>You are using a modern web browser that supports WebSockets.</li>
                    <li>You have a working Internet connection.</li>
                  </ol>
                </div>
                <div ng-switch-default>
                  {{message.text}}
                </div>
              </div>
            </div>
          </li>
          <li class="typing" ng-show="partnerTyping && state == 'chatting'">
            {{partnerName}} is typing...
        </ul>
      </div>
      <div class="input">
        <textarea
          rows="3"
          tabindex="1"
          pom-focus-on-chat
          ng-disabled="state != 'chatting'"
          ng-model="message"
          ng-keydown="sendMessage($event)"
          ng-change="updateTyping()"></textarea>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
  </body>
</html>
