/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div#chatroom {
  display: block;
  height: 300px;
  border: 1px solid #999;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
}

li.system {
  font-weight: bold;
}

li.leave {
  font-weight: bold;
  color: #F00;
}
